.imgProducto {
    width: 150px;
    object-fit: contain;
}

.cardProducto {
    background-color: rgb(49, 37, 37);
    border-radius: 10px;
    width: 15rem;
    padding: 1rem;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.verdetalles{
    background-color: rgb(191, 109, 123);
    color: white;
    width: 120px;
    height: 25px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
}