header{
    display: flex;
    align-items: center;
    justify-content: space-between;
  
    background-color: black;
        
}

li{
    display: inline-block;
    margin: 1rem;
    cursor: pointer;
    padding: 5px 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
     color: white; 
}

.titulo{
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    padding: 0px 50px;
    color: white;
}
.logoinicio{
    width: 90px;
}